@using Authority.Infrastructure.MyCourse;
@model Author  
@{
    var authors = Model;
}
<section class="wrapper">
    <div class="text-center">
        <h1 class="display-4">权限点组明细信息页面</h1>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <section class="panel">
                <header class="panel-heading text-center">
                    权限点信息
                </header>
                <div class="panel-body">
                    <div class="form">
                        <form class="form-validate form-horizontal " id="register_form" method="get" action="@Url.Action("UpdateAccess","Access")" novalidate="novalidate">
                            <div class="form-group ">
                                <label for="aid" class="control-label col-lg-2">权限点Id <span class="required">*</span></label>
                                <div class="col-lg-6">
                                    <input class="form-control" value="@authors.Aid" minlength="5" type="text" required="" disabled />
                                    <input id="aid" value="@authors.Aid" name="aid" type="hidden" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="aname" class="control-label col-lg-2">权限点名称 <span class="required">*</span></label>
                                <div class="col-lg-6">
                                    <input class=" form-control" id="aname" name="aname" value="@authors.Aname" type="text">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="enabled" class="control-label col-lg-2">是否禁用<span class="required">*</span></label>
                                <div class="col-lg-6">
                                    <input class=" form-control" id="enabled" name="enabled" value="@authors.Enabled" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-primary" type="submit" onclick="change()">Save</button>
                                    <button class="btn btn-default" type="button">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<script type="text/javascript">

    function change() {
        var form = document.getElementById("formSearch");
        form.submit();
    }
</script>