@using Authority.Infrastructure.MyCourse;
@{
    ViewData["Title"] = "Home Page";
    var teams = ViewData["Teams"] as List<Team>;
}
<section class="wrapper">
    <div class="text-center ">
        <h1 class="display-4">用户组列表信息页面</h1>
    </div>

    <div class="nav search-row " id="top_menu">
        <!--  search form start 搜索框-->
        <ul class="nav top-menu">
            <li>
                <form class="navbar-form" id="formSearch" action="@Url.Action("Index", "Group")">
                    <label for="gname">
                        <input class="form-control" placeholder="用户组名称" type="text" id="gname" name="gname" onkeydown="entersearch()">
                    </label>
                </form>
            </li>
        </ul>
        <!--  search form end -->
    </div>

    <!--列表-->

    <div class="row panel-body">
        <a class="btn btn-default btn-sm"  title="添加" onclick="ab()">
            <i class="fa fa-plus"></i>&nbsp;添加
        </a>
        <a class="btn btn-default btn-sm" href="" title="修改">
            <i class="fa fa-pencil"></i>&nbsp;修改
        </a>
        <a class="btn btn-default btn-sm" href="" title="删除">
            <i class="fa fa-minus"></i>&nbsp;删除
        </a>
        <a class="btn btn-default btn-sm" href="" title="分配权限点">
            <i class="fa fa-key"></i>&nbsp;分配权限点
        </a>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-flag-o red"></i><strong> Group List</strong></h2>
                    <div class="panel-actions">
                        <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                        <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table bootstrap-datatable users">
                        <thead>
                            <tr>
                                <th i class=" label_check">
                                    <input name="a1lSel" type="checkbox" onclick="All(this)" value="全选" />全选
                                </th>
                                <th>用户组ID</th>
                                <th>用户组名称</th>
                                @* <th>父节点</th>*@
                                <th>用户组描述</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < teams.Count; i++)
                            {
                            <tr>
                                <td i class="label_check" for="checkbox-01">
                                    <input name="sample-checkbox-01" id="checkbox-01" value="2" type="checkbox" />
                                </td>
                                <td>@teams[i].Gid</td>
                                <td>@teams[i].Gname</td>
                                <td>@teams[i].Gdesc</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-success" href='/Group/Detail?gid=@teams[i].Gid' onclick=""><i class="icon_pencil_alt">编辑</i></a>
                                        <a class="btn btn-danger" href="" id="delete" onclick="toshow(@teams[i].Gid)"><i class="icon_close_alt2">删除</i></a>
                                    </div>
                                </td>
                            </tr>
                            }
                            @*<tr>
                                <td i class="label_check" for="checkbox-01">
                                    <input name="sample-checkbox-01" id="checkbox-01" value="2" type="checkbox" checked />
                                </td>
                                <td>1</td>
                                <td>design</td>
                                <td>设计部</td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

    <!--遮罩层-->
    <div class="mask" id="mask" style="width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);">
        <div class="add" id="add" style=" width: 500px;
        height: 350px;
        background-color: #fff;
        margin: 150px auto;">
            <div class="col-lg-6 text-center">
                <section class="panel">
                    <header class="panel-heading">
                        用户组信息
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <form class="form-validate form-horizontal" id="feedback_form" method="get" action='@Url.Action("AddGroup","Group")' novalidate="novalidate">
                                <div class="form-group ">
                                    <label for="gname" class="control-label col-lg-4">用户组名称<span class="required">*</span></label>
                                    <div class="col-lg-6">
                                        <input class="form-control" id="gname" name="gname" type="text" required="">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="gdesc" class="control-label col-lg-4">用户组描述<span class="required">*</span></label>
                                    <div class="col-lg-6">
                                        <input class="form-control " id="gdesc" type="text" name="gdesc" required="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-4">
                                        <button class="btn btn-primary" type="submit" >Save</button>
                                        <button class="btn btn-default" type="button" id="cancel ">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<script src="~/Test.js"></script>
<script type="text/javascript">
            //function showtext() {
            //    $("#con").attr("style", "display:;");
            //}

                function All(ch) {
                        var sda = ch.checked;
                        var char = document.getElementsByName("sample-checkbox-01");
                        for(var i in char){
                    char[i].checked = sda;
                }
        }
        function toshow(gid)
        {
            if (confirm("确认要删除？")) {
                $.ajax({
                    type: "post",
                    url: '@Url.Action("DeleteGroup", "Group")',
                    data: { "gid": gid, },
                    dataType: 'JSON',
                    success: function () {
                    }
                });
                @*window.location.href = '@Url.Action("GroupDelete", "Group")';*@
                var form = document.getElementById("formSearch");
                form.submit();
            }
        }
        function entersearch() {

            var event = window.event || arguments.callee.caller.arguments[0];
            if (event != null && event.code == "Enter") {
                var form = document.getElementById("formSearch");
                form.submit();
            }
    }
</script>